/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: 'BulkSans_Black';
  src: url('../fonts/BulkSans-Black.woff2');
}

@font-face {
  font-family: 'BulkSans_Bold';
  src: url('../fonts/BulkSans-Bold.woff2');
}

@font-face {
  font-family: 'BulkSans_SemiBold';
  src: url('../fonts/BulkSans-SemiBold.woff2');
}

@font-face {
  font-family: 'BulkSans_Medium';
  src: url('../fonts/BulkSans-Medium.woff2');
}

@font-face {
  font-family: 'BulkSans_Light';
  src: url('../fonts/BulkSans-Light.woff2');
}

@font-face {
  font-family: 'BulkSans_ExtraLight';
  src: url('../fonts/BulkSans-ExtraLight.woff2');
}

@font-face {
  font-family: 'LumaIcons';
  src: url('../fonts/Luma-Icons.woff2');
}



body{
  padding: 0%;
  margin: 0%;
}

/* HEADER */
nav{
  display: flex;
  margin-top: .5em;
  padding: .5em;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.logo{
  width: 5.4em;
  height: 100%;
}

.hamburger_menu{
  width: 1.2em;
  height: 100%;
  margin-top: 0%;
}

.winkelmandje{
  width: 1.1em;
  height: 100%;
}




/* MAIN */

.tijdelijke_animatie_bovenaan{
  width: 100%;
}

/* Teksten */
.form{
  display: flex;
  justify-content: center;
  border-radius: 2em;
  margin-top: 1em;
  width: 100%;
}

h1{
  font-size: 4em;
  font-family: 'BulkSans_Black';
  margin-bottom: 0%;
}

h2{
  font-family: 'BulkSans_Bold';
  margin-bottom: 0;
  margin-top: 4%;
  width: 85%;
  margin-left: 10%;
  font-size: 1.8em;
}

h3{
  font-family: 'BulkSans_Bold';
  margin-bottom: 0;
  margin-top: 8%;
  width: 85%;
  margin-left: 10%;
  font-size: 1.8em;
}


p{
  color: grey;
  font-family: 'BulkSans_Light';
  margin-top: 2em;
  margin-bottom: 3em;
  width: 80%;
  margin-left: 10%;
  font-size: .8em;
}

.zwarte_korting_banner{
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  color: white;
  height: auto;
}

.button_op_zwarte_korting_banner{
  font-family: 'BulkSans_Bold';
  padding: 1.1em;
  margin-bottom: 10%;
  width: 40%;
  color: #000000;
  border-radius: 3em;
  border: none;
  text-align: center;  
  background-color: white;
}

.alle_rode_buttons{
  font-family: 'BulkSans_Bold';
  margin-bottom: 0%;
  margin-left: 3em;
  margin-top: 8%;
  width: 20%;
  color: #ffffff;
  border-radius: 3em;
  border: none;
  text-align: center;  
  background-color: red;
}


.alle_witte_buttons{
  font-family: 'BulkSans_Bold';
  padding: 0.6em;
  margin-bottom: 1.5em;
  margin-left: 3em;
  width: 33%;
  color: black;
  border: solid 0.15em black;
  border-radius: 3em;
  text-align: center;  
  background-color: white;
}

/* SPECIFIEKE STYLING */
/* potjes */

.potjes_image_met_banner{
  position: relative;
  margin-top: 2em;
}

.potjes{
  position: absolute;
  z-index: 1;
  width: 80%;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner_achter_potjes_img{
  width: 100%;
}

/* siroop */
.siroop_met_banner{
  position: relative;
  margin-top: 2em;
}

.siroopflessen{
  position: absolute;
  z-index: 1;
  width: 80%;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner_achter_siroop_img{
  width: 100%;
}


/* nieuwe producten grid block */
.grid_voor_blok_tekst_en_images{
  margin-top: 3em;
  margin-left: 1.2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
}

.gist_img{
  width: 90%;
}

.huid_capsules_img{
  width: 90%;
}

.hart_capsules_img{
  width: 90%;
}


/* ourplanet */
.ourplanet_banner{
  width: 100%;
  margin-top: 2em;
}

/* ourplanet */
.ThisisNutrition_tekst{
  display: flex;
  justify-content: center;
  text-align: center;
}

.drie_images{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.drie_images:first-child{
  grid-column-start:1;
  grid-column-end:-1;
}



/* FOOTER */

.solid_lijn_boven_social_media_buttons{
  width: 100%;
  color: lightgrey;
  margin-bottom: 2em;
}

.socialmedia_buttons_footer{
  display: flex;
  flex-flow: row;
  width: 100%;
  margin-left: 1em;
}

.styling_voor_elke_socialmedia_icoon{
  width: 20%;
}


